<div class="container">
  <div class="col-first">
    <div class="col-md-3">
      <ul>

      </ul>
    </div>
  </div>
  <div class="col-last">
    <div >
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <nav>
          <ul class="text-center list-inline py-3">
            <li> <a routerLink="/clients" class="ui-static-link">Send Notification</a></li>
            <li> <a routerLink="/logs"  class="ui-static-link">Logs</a></li>
          </ul>
          </nav>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
